@charset "UTF-8";

@font-face {
  font-family: "icon";
  src:url("fonts/icon.eot");
  src:url("fonts/icon.eot?#iefix") format("embedded-opentype"),
    url("fonts/icon.woff") format("woff"),
    url("fonts/icon.ttf") format("truetype"),
    url("fonts/icon.svg#icon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "icon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-like:before {
  content: "b";
}
.icon-view:before {
  content: "c";
}
