
//Landing Page
// ––––––––––––––––––––––––––––––––––––––––––––––––––
.background {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
	z-index: -999;
	width: 100%;
	min-height: 55.5555vw;
	height: 100%;
	max-height: 100%;
	overflow: hidden;
	background-color: #029bbf;
	
	.line {
		box-sizing: border-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex: 0 1 auto;
		-ms-flex: 0 1 auto;
		flex: 0 1 auto;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		
		flex-wrap: wrap;
	}
	
	.unit {
		width: 33.3333vw;
		height: 33.3333vw;
		-ms-flex-preferred-size: 33.3333%;
		-webkit-flex-basis: 33.3333%;
		flex-basis: 33.3333%;
		max-width: 33.3333%;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		-webkit-flex: 0 0 auto;
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		opacity: 0.05;
		-webkit-transition: all 250ms ease;
		-moz-transition: all 250ms ease;
		-ms-transition: all 250ms ease;
		-o-transition: all 250ms ease;
		transition: all 250ms ease;
			
		&:hover {
			opacity: 1;
			background-size: 105% 105% !important;
		}
		
		@media screen and (min-width: 200px) {
			width: 25vw;
			height: 25vw;
			-ms-flex-preferred-size: 25%;
			-webkit-flex-basis: 25%;
			flex-basis: 25%;
			max-width: 25%;
		}
		
		@media screen and (min-width: 400px) {
			width: 20vw;
			height: 20vw;
			-ms-flex-preferred-size: 20%;
			-webkit-flex-basis: 20%;
			flex-basis: 20%;
			max-width: 20%;
		}
		
		@media screen and (min-width: 620px) {
			width: 16.6666vw;
			height: 16.6666vw;
			-ms-flex-preferred-size: 16.6666%;
			-webkit-flex-basis: 16.6666%;
			flex-basis: 16.6666%;
			max-width: 16.6666%;
		}
		
		@media screen and (min-width: 850px) {
			width: 14.2857vw;
			height: 14.2857vw;
			-ms-flex-preferred-size: 14.2857%;
			-webkit-flex-basis: 14.2857%;
			flex-basis: 14.2857%;
			max-width: 14.2857%;
		}
	}
}