// Write Code Here
body {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    
    font-weight: 400;
}

h1 {
    margin: 0;
    padding: 0;
}

#query{
	height: 100%;
	border: none;
	width: 100%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 60pt;
}

form {
	margin: 0;
	padding: 0;
	z-index: 1;
}

#search {
    font-family: "Helvetica", "Arial", san-serif;
    font-size: em(70px);
    position: relative;
    top: 50%;
    color: $color-white;
    transform: translateY(-50%);
    border: none;
    outline: 0;
    background: transparent;
}

input:focus{
    outline: 0;
}

input {
    background: transparent;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #FFF;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #FFF;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #FFF;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #FFF;
}